In [33]:
#import dependencies
import pandas as pd
import json
import pprint
import requests

In [68]:
#Make an API call to enerflo.

api_endpoint_url = 'https://enerflo.io/api/v3/installs?per_page=50&page=1'


#key
key = '185461e9ebbbe28539.19676587'
headers = {'api-key':key,
          'content-type':'application/json'
          }

response = requests.get(api_endpoint_url,headers=headers)

In [ ]:
data = response.json()

#establish the variable to index into a given entry that the loop can iterate through
entry = data['results'][0]

pprint.pprint(entry)

In [96]:
#crete the structure for the dataframe
#create the empty arrays
firstnamearr = []
lastnamearr = []
addressarr = []
statearr = []
cityarr = []
statusarr = []
agreementarr = []
installarr = []
ptoarr = []
costarr = []
sizearr = []
ppwarr = []
reparray = []

#initialize the dict to create dataframe from
report = {
    'First Name':firstnamearr,
    'Last Name':lastnamearr,
    'Address':addressarr,
    'City':cityarr,
    'State':statearr,
    'Status':statusarr,
    'Cost':costarr,
    'Size':sizearr,
    'PPW':ppwarr,
    'Sales Rep':reparray,
    'Agreement Date':agreementarr,
    'Install Date':installarr,
    'PTO Date':ptoarr
    }

#set variables to perpetuate loop and increment the page in the call
inf = 0
count = 0

#set 'while' loop to make the calls until it's done
while inf == 0:
            
    #set the value that determines the page called for
    api_endpoint_url = 'https://enerflo.io/api/v3/installs?per_page=50&page=' + str(count)

    #key
    key = '185461e9ebbbe28539.19676587'
    headers = {'api-key':key,
              'content-type':'application/json'
              }
    
    #increment the page count
    print(count)
    count = count + 1
        
    #PLACEHOLDER INCREMENTATIONs TO BREAK WHILE LOOP
    #inf = inf + 1
#     if count > 10:
#         print('limit reached, stopping query')
#         break
    
    #pull the result group into
    response = requests.get(api_endpoint_url,headers=headers)
    data = response.json()
    results = data['results']
    print(len(results))
    
    
    for entry in results:

        #pull the relevant dates
        agreement = entry['milestones'][0]['install_milestone']['completed_on']
        install_date = entry['milestones'][10]['install_milestone']['completed_on']
        pto_date = entry['milestones'][12]['install_milestone']['completed_on']

        #pull system info
        cost = entry['cost']['system_cost_net']
        size = entry['system_size']
        ppw = entry['survey']['ppw_net']

        #pull sales rep data
        sales_rep = entry['contacts'][0]['user']['name']

        #pull Customer Data
        customer = entry['customer']
        name_first = customer['first_name']
        name_last = customer['last_name']
        address = customer['address']
        city = customer['city']
        state = customer['state']
        status = customer['status']

        #append the data into the corresponding arrays
        firstnamearr.append(name_first)
        lastnamearr.append(name_last)
        addressarr.append(address)
        cityarr.append(city)
        statearr.append(state)
        statusarr.append(status)
        costarr.append(cost)
        sizearr.append(size)
        ppwarr.append(ppw)
        reparray.append(sales_rep)   
        agreementarr.append(agreement)
        installarr.append(install_date)
        ptoarr.append(pto_date)  
    
    if len(results) < 50:
        print('final page reached stopping query')
        break    
    
#generate the dataframe off of the report dict
report_df = pd.DataFrame.from_dict(report)

0
50
1
50
2
50
3
50
4
50
5
50
6
50
7
50
8
50
9
50
10
limit reached, stopping query

In [98]:
report_df.head(10)

,First Name,Last Name,Address,City,State,Status,Cost,Size,PPW,Sales Rep,Agreement Date,Install Date,PTO Date
0,Rory,Allen,3965 Acorn Dr,Harrison,AR,None,22695.0,7.565,3.00,Sam Wiles,2023-08-12,None,None
1,Evelyn,Gentry,311 E Jefferson St,Hazen,AR,None,58562.0,20.915,2.80,Max Johnson,2023-08-12,None,None
2,Debra,Webber,7419 Yellow Pine Dr,Houston,TX,None,23897.5,8.690,2.75,Peter Saqib,2023-08-12,None,None
3,Haiden,Mclean,1021 Berry St,Harrison,AR,None,26611.0,10.235,2.60,Sage Baird,2023-08-12,None,None
4,Alexander,Arciuch,11229 Folkstone Dr,Yukon,OK,None,26166.0,9.345,2.80,John Vong,2023-08-12,None,None
5,Arthur,Wathan,8201 Woodbend Dr,Oklahoma City,OK,None,35960.0,11.600,3.10,Ben Maughan,2023-08-12,None,None
6,Marie,Quintero,408 Marie Pl,Beeville,TX,None,13272.0,4.740,2.80,Michael Guerrero,2023-08-12,None,None
7,Sunilda,Blandun,611 Avenue U,Marble Falls,TX,None,17419.5,5.530,3.15,Kyler Goslin,2023-08-11,None,None
8,Jeremy,Pearson,11904 Surrey Ln,Yukon,OK,None,31239.0,12.015,2.60,John Vong,2023-08-11,None,None
9,Tony,Osborn,601 Craig St,Bald Knob,AR,None,43316.3,13.795,3.14,Thomas Dunlap,2023-08-11,None,None

In [99]:
print(len(report_df))

500

In [88]:
print(count)

10